[Unit]
Description=bar
After=foo.service
PartOf=foobar.target

[Service]
Type=notify
ExecStart=/home/ubuntu/sd_notify_test/bar

[Install]
WantedBy=foobar.target

